@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

/* :root{
    --body:   #111;
    --main:   #f9ca24;
    --text:   #eee;
    --heading:#fff;
    --icon:   #000;
    --box:    #333;
    --header: #1a1a1a; 
} */

:root{
    --body:   #f6e6d6;
    --main:   #E38528;
    --text:   #333;
    --heading:#000;
    --icon:   #000;
    --box:    #FFF;
    --header: #e0c7ad; 
}



*{
    font-family: 'open sans', Arial, sans-serif ;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--main);
    color:var(--box);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:var(--box);
}

html::-webkit-scrollbar-thumb{
    background:var(--main);
}

body{
    background:var(--body);
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    margin-bottom: 10vh;
    min-height: 50vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:var(--box);
    color:var(--heading);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--main);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid var(--heading);
    color:var(--heading);
}

.heading span{
    color:var(--main);
}

.haid, .show{
    cursor: pointer;
    max-width: 1px;
    margin-top: 1rem;
}

.haid{
    display: none;
}
.show { 
    display: block;
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--main);
}

header .user .name{
    font-size: 3.5rem;
    color:var(--heading);
}

header .user .post{
    font-size: 2rem;
    color:var(--text);
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:var(--box);
    color:var(--heading);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--main);
}

header .follow a {
    font-size: 2.5rem;
    color: var(--heading);
    margin: .7rem;
}

header .follow a:nth-child(1):hover {
    color:#1877f2;
}
header .follow a:nth-child(2):hover {
    color:#1d9bf0;
}
header .follow a:nth-child(3):hover {
    color:#ff0000;
}
header .follow a:nth-child(4):hover {
    color:#0a66c2;
}
header .follow a:nth-child(5):hover {
    color:#000;
    background:#fff;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:var(--box);
    color:var(--heading);
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:var(--heading);
}

.home h1{
    font-size:5rem;
    color:var(--heading);
}

.home h1 span{
    color:var(--main);
}

.home p{
    font-size:2rem;
    color:var(--text);
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--main);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:var(--text);
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:var(--box);
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--main);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:var(--heading);
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--heading);
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:var(--box);
    color:var(--heading);
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:var(--heading);
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:var(--text);
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:var(--icon);
    background:var(--main);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    background: var(--heading);
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:var(--box);
    color:var(--heading);
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:var(--heading);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:var(--text);
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--main);
}

.map {
    flex: 1 1 25rem;
    border: 1rem solid var(--box);
    box-shadow: 0 .5rem 1rem rgba(88, 88, 88, 0.1);
    border-radius: .5rem;
    width: 100%;
}

.map:hover {
    border: 1rem solid var(--heading);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}
footer {
    margin-top: 2rem;
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    color: var(--heading);
    background:var(--box);
}

footer span {
    color: var(--main);
}


/* media queries  */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding:1rem 4rem;
    }
}

@media (max-width:991px){
    header{
        left:-120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left:0%;
    }
    body{
        padding:0;
    }
}

@media (max-width:768px){
    html{
        font-size: 50%;
    }
}

@media (max-width:400px){
    header{
        width: 100vw;
    }
    .heading{
        margin:0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
    .education .box-container .box{
        width:100%;
    }
    .portfolio .box-container .box{
        width:100%;
    }
    .contact .row form{
        margin:3rem 0;
    }
}